{% extends "layout.html" %}
{% block content %}
<script src="/static/scripts/echarts.js"></script>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					公安智能即时指导<small>    一站式解决公安工作流程问题</small>
				</h1>
			</div>
			<div class="row">
				<div class="col-md-7">
					<ul class="thumbnails" style="
					padding-right: 81px;
					border-right: 1px solid #00000073;
				">
						<li class="row">
							<!--<img alt="300x200" src="img/people.jpg" />-->
							<div class="caption">
								<h3>
									下一步怎么办...
								</h3>
								<p>
									找到了线索却不知如何入手？拿到了数据不知如何处理？……交给我们，依托海量流程库，在茫茫路径中寻找真相！
								</p>
								<p>
									<a class="btn btn-primary btn-info" href="#panel-457463" onclick="clickFunc1()">使用后向查询</a> 
								</p>
							</div>
						</li>
						<li class="row">
							<!--<img alt="300x200" src="img/city.jpg" />-->
							<div class="caption">
								<h3>
									怎么才能找到...
								</h3>
								<p>
									百思不得其解为何师傅就能想到从另一角度分析？不知道从哪里获取关键线索?……请输入你想要的，我们为您找到最终的突破口！
								</p>
								<p>
									<a class="btn btn-primary btn-success" href="#panel-201385" onclick="clickFunc2()">使用前导查询</a> 
								</p>
							</div>
						</li>
						<li class="row">
							<!--<img alt="300x200" src="img/sports.jpg" />-->
							<div class="caption">
								<h3>
									这个事情是什么流程...
								</h3>
								<p>
									事务过于繁杂不知如何处理？太多材料要看没时间学规范？……在搜索框内键入你想要找到的流程，扫清死角！
								</p>
								<p>
									<a class="btn btn-primary btn-danger" href="#panel-2" onclick="clickFunc3()">使用流程查询</a>
								</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-5" style="
				padding-top: 150px;
				padding-right: 10px;
				padding-left: 70px;
			">
					<div class="tabbable" id="tabs-380675">
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="#panel-457463" data-toggle="tab"id="click1">后向查询</a>
							</li>
							<li>
								<a href="#panel-201385" data-toggle="tab" id="click2">前导查询</a>
                            </li>
                            <li >
								<a href="#panel-2" data-toggle="tab" id="click3">流程查询</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="panel-457463">
								<div class="form-group">
									<label for="func1" style="
									padding-top: 10px;
								">找到</label>
									<input type="text" class="form-control" id="func1">
									<label for="func1" style="
									padding-top: 10px;
								">之后怎么办？</label>
								</div>
								<button type="submit" class="btn btn-primary" onclick="frontSearch()">询问</button>
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									  想尝试一些例子？ <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
									  <li><a href="#" onclick="func1example1()">可疑账号</a></li>
									  <li><a href="#" onclick="func1example2()">可疑犯罪信息</a></li>
									</ul>
								</div>
							</div>
							<div class="tab-pane" id="panel-201385">
                                <div class="form-group">
                                    <label for="func2" style="
									padding-top: 10px;
								">怎么找到</label>
                                    <input type="text" class="form-control" id="func2">
                                    <!--<label for="func2">之后怎么办？</label>-->
                                </div>
                                <button type="submit" class="btn btn-primary" onclick="backSearch()">询问</button>
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									  想尝试一些例子？ <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
									  <li><a href="#" onclick="func2example1()">可疑账号</a></li>
									  <li><a href="#" onclick="func2example2()">可疑犯罪信息</a></li>
									  <li><a href="#" onclick="func2example3()">涉案银行卡</a></li>
									</ul>
								</div>
							</div>
                            <div class="tab-pane" id="panel-2">
                                <div class="form-group">
                                    <label for="func3" style="
									padding-top: 10px;
								">我要找到的流程是</label>
                                    <input type="text" class="form-control" id="func3">
                                    <!--<label for="func2">之后怎么办？</label>-->
                                </div>
                                <button type="submit" class="btn btn-primary" onclick="completeSearch()">询问</button>
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									  想尝试一些例子？ <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
									  <li><a href="#" onclick="func3example1()">账目查询信息关联法</a></li>
									  <li><a href="#" onclick="func3example2()">从取款人入手侦查</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="answerPart">
	<div id="forNormalSearch">
		<div class="page-header">
			<h1>本助手建议您：</h1>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3>您可以接着调查下列事物：</h3>
					</div>
					<div class="panel-body" id="toAddObj">
						<!--在此处添加内容-->
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3>您可以接着采取以下操作或考虑以下事项：</h3>
					</div>
					<div class="panel-body" id="toAddOperation">
						<!--在此处添加内容-->
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="page-header">
		<h1>相关流程图</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<div style="height:450px;" id="graph"></div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$("#answerPart").hide()
	option = {
		backgroundColor: '#F0DFAF',
		legend: {
			data: [
				{
					name:":Object"
				},
				{
					name:":Func"	
				},
				{
					name:":Judge"
				},
			],
			selected: {
				':Object':true,
				':Func':true,
				':Judge':true
			},
		},
		tooltip: {},
        animationDurationUpdate: 1500,
        animationEasingUpdate: 'quinticInOut',
		series: [
			{
				type: 'graph',
				layout: 'force',
				focusNodeAdjacency: true,
				symbolSize: 40,
				symbol: "roundRect",
                force: {
					repulsion: 300,
					gravity: 0.1,
					edgeLength: 50,
					layoutAnimation: true,
				},
				roam: true,
				draggable: true,
				categories: [
					{
						name: ":Object",
						itemStyle: {
							normal: {
								color: '#395574'
							},
						},
					},
					{
						name: ":Func",
						itemStyle: {
							normal: {
								color: '#9CA47E'
							},
						},
					},
					{
						name: ":Judge",
						itemStyle: {
							normal: {
								color: '#F09240'
							},
						},
					},
				],
				label: {
					normal: {
						position: "inside",
						show: true,
						color: '#000000',
					},
					emphasis: {
						position: "top",
						show: true,
						color: '#000000',
						fontSize: 15
					}
				},
				edgeSymbol: ['circle', 'arrow'],
                edgeSymbolSize: [0, 15],
				lineStyle: {
                    normal: {
						color: 'source',
                        opacity: 0.9,
                        width: 2,
                        curveness: 0.2
                    },
                    emphasis: {
                        opacity: 1,
                        width: 10,
                        curveness: 0.2
                    },
                },
                itemStyle: {
					normal:  {
                        borderColor: '#fff',
                        borderWidth: 1,
                        shadowBlur: 10,
                        shadowColor: 'rgba(0, 0, 0, 0.3)'
                    },
                    emphasis: {
						color: "#F2542D",
						symbolSize: 20,
						symbol: "roundRect"
                    }
                },
			},
		],
	};

	function frontSearch() {
		Search($("#func1").val(), 100);
	};
	function backSearch() {
		Search($("#func2").val(), 200);
	};
	function completeSearch() {
		Search($("#func3").val(), 300);
	};

	function textDataBuild(jsonData) {
		var textData = jsonData.text_data;
		console.log(textData)
		console.log(typeof(textData))
		var operation = textData.operate;
		var objData = textData.obj;

		for (var index in operation) {
			var tmp_p = document.createElement("p");
			tmp_p.textContent = operation[index];
			var tmp_row = document.createElement("div");
			tmp_row.setAttribute("class", 'row');
			tmp_row.appendChild(tmp_p);
			document.getElementById("toAddOperation")
				.appendChild(tmp_row);
		};

		for (var index in objData) {
			var tmp_p = document.createElement("p");
			tmp_p.textContent = objData[index];
			var tmp_row = document.createElement("div");
			tmp_row.setAttribute("class", 'row');
			tmp_row.appendChild(tmp_p);
			document.getElementById("toAddObj")
				.appendChild(tmp_row);
		};

	};
	function Search(desctription, ctrlCode) {

		$.getJSON('/procedureSearch', {
			des: desctription, code: ctrlCode,
			}, function (json) {

				$("#answerPart").show();

				if ((ctrlCode == 100)||(ctrlCode == 200)) {
					textDataBuild(json)
				} else {
					$("#forNormalSearch").hide()
				};

				option.series[0].data = json.nodes;
				console.log(json.nodes)
				console.log(json.links)
				option.series[0].links = json.links;
				var myChart = echarts.init(document.getElementById("graph"));
				myChart.setOption(option, true);
			}
		);
	};
	
	function clickFunc1() {
		$("#click1").click()
	};
	function clickFunc2() {
		$("#click2").click()
	};
	function clickFunc3() {
		$("#click3").click()
	};
	function func1example1() {
		Search("可疑账号", 100)
	};
	function func1example2() {
		Search("可疑犯罪信息", 100)
	};
	function func1example3() {
		Search("涉案银行卡", 100)
	};
	function func2example1() {
		Search("可疑账号", 200)
	};
	function func2example2() {
		Search("可疑犯罪信息", 200)
	};
	function func2example3() {
		Search("涉案银行卡", 200)
	};
	function func3example1() {
		Search("账目查询信息关联法", 300)
	};
	function func3example2() {
		Search("从取款人入手侦查", 300)
	};
</script>

{% endblock %}